* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e3c04c;
}

body {
    background: radial-gradient(rgb(231, 46, 44), rgb(159, 27, 24), rgb(144, 22, 18));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

table {
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
}

table, td {
    border: 3px solid #e3c04c;
}

button {
    padding: 20px;
    width: 200px;
    font-weight: bold;
    color: #000;
    
    &:hover {
        background-color: #e3c04c;
        color: rgb(144, 22, 18);
    }

    &:active {
        background-color: #a08a41;
        color: #000;
    }
}