* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e3c04c;
}

body {
    background: radial-gradient(rgb(231, 46, 44), rgb(159, 27, 24), rgb(144, 22, 18));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

table {
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
}

table, td {
    border: 2px solid #e3c04c;
    border-radius: 10px;
    text-align: center;
}

td {
    padding: 10px;
}

button {
    padding: 15px;
    font-size: large;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    background-color: #00000000;
    border: none;
    
    &:hover {
        background-color: #e3c04c;
        color: rgb(144, 22, 18);
    }

    &:active {
        background-color: #a08a41;
        color: #000;
    }
}