* {
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #c6b7a2;
    /* background-image: linear-gradient(#e7d8c3, #c6b7a2, #6a2931, #531b24); */
}

header {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #6a2931;
    padding: 1%;
    text-align: center;
    margin: 0;
    color: #c6b7a2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    background-color: #531b24;
    margin: 0;
    text-align: center;
    padding: 5px;
    border-radius: 0px 0px 100px 100px;
}

nav a {
    margin: 1%;
    text-decoration: none;
    color: #e7d8c3;

    &:hover {
     color: #989c61;
     cursor: pointer;
    }
}

#container {
    display: flex;
    justify-content: space-around;
    padding: 1%;
    margin: 0;
}

#column1 {
    float: left;
    width: 21%;
}

#column2 {
    float: left;
    width: 53%;
}

#column3 {
    float: left;
    width: 21%;
}

#todo {
    border: 3px solid #531b24;
    margin: 2% 0%;
    background-color: #e7d8c3;
    color: #fff;
    border-radius: 20px;

    h4 {
        margin: 0;
        padding: 4%;
        border-radius: 16px 16px 0px 0px;
        background-color: #6a2931;
        text-align: center;
        color: #c6b7a2;
    }

    label {
        vertical-align: middle;
        font-size: 14px;
        color: #531b24;
    }

    input[type=checkbox] {
        margin: 5% 1% 5% 2%;
        line-height: 10px;
        accent-color: #531b24;
        width: 10%;
        height: 10%;
        vertical-align: middle;
        cursor: pointer;
    }

    button {
        color: #e7d8c3;
        display: block;
        margin: auto;
        font-size: 20px;
        padding: 1% 3%;
        background-color: #531b24;
        border: 1px solid #e7d8c3;
        border-radius: 5px;
        
        &:hover {
            color: #fff;
            background-color: #531b24b1;
            border: 1px solid #e7d8c3;
            cursor: pointer;
        }
    }

    hr {
        margin: 0;
    }
}

#profs {
    border: 1px solid #531b24;
    margin: 7% 0%;
}

#desc {
    border: 3px solid #531b24;
    margin: 0.8% 0%;
    background-color: #ffffffa6;
    padding: 0;

    h3 {
        margin: 0;
        padding: 3%;
        background-color: #989c61c4;
        color: #fff;
    }

    article {
        color: #635a5c;
        padding: 3%;
        text-align: justify;
        font-size: 15px;
    }

    section {
        display: flex;
        justify-content: space-evenly;
        border: none;
        margin: 0;
        padding: 0;

        .courses {
            /* border: 1px solid black; */
            width: 200px;
            padding: 1%;
            margin: 1% 1% 3% 1%;

            img {
                display: block;
                margin: auto;
            }
        }

        button {
            display: block;
            margin: auto;
            background-color: #d5d2a5;
            color: #635a5c;
            border: 3px solid #531b24;
            border-radius: 5px;
            padding: 2%;
            font-size: 15px;

            &:hover {
                border-style: inset;
            }
        }
    }
}

#timetable {
    margin: 3% 0%;
    padding: 0;

    h3 {
        color: #989c61;
        margin: 0;
        padding: 2%;
        text-align: center;
    }
}

table {
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
    /* border-radius: 20px; */
    overflow: hidden;
    border: 3px solid #531b24;
    /* box-shadow: 0px 0px 10px rgb(231, 199, 212); */
    color: #635a5c;

    &:hover {
        box-shadow: 0px 0px 15px rgb(231, 199, 212);
    }

    th, td {
        border: 2px solid #531b24;
        padding: 7px;
        text-align: center;
        background-color: #ffffffa6;
    }

    th {
        color: #fff;
        background-color: #989c61c4;
        border: 2px solid #531b24;
        font-size: 15px;
    }

    .akifa {
        background-color: #f3ecdac4;
    }

    .danish {
        background-color: #d5d2a5c4;
    }

    .rafia {
        background-color: #b5b179c4;
    }
}

#notes {
    border: 1px solid #531b24;
    margin: 3% 0%;
}

#calendar {
    border: 3px solid #531b24;
    margin: 2% 0%;
    position: relative;
    box-sizing: border-box;
    /* border-radius: 20px; */
    overflow: hidden;
    /* box-shadow: 0px 0px 10px rgba(177, 159, 127); */
    
    h3 {
        margin: 0;
        padding: 5% 7%;
        font-size: 16px;
        background-color: #989c61c4;
        /* border-top: 3px solid #b19f7f;
        border-left: 3px solid #b19f7f;
        border-right: 3px solid #b19f7f; */
        /* border-radius: 20px 20px 0px 0px; */
        color: #fff;
        text-align: center;
    }
}

.calendar_date {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    box-sizing: border-box;
    /* border-radius: 0px 0px 20px 20px; */
    /* border: 3px solid #b19f7f; */
    background-color: #ffffffa3;
}
  
.calendar_day {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 900;
    color: #989c61;
}
  
.calendar_number {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #989c61;
    padding: 3px;
    font-size: 15px;
    
    &.chosen, &:hover {
      background-color: #989c61;
      color: #fff !important;
      font-weight: 700;
      cursor: pointer;
      /* border-radius: 7px; */
    }
}

.blank {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(177, 159, 127, 0.3);
    padding: 3px;
    font-size: 15px;

    &:hover {
        color: #e7c7d4;
        cursor: default;
    }
}

#quick {
    border: 3px solid #531b24;
    margin: 7% 0%;
    background-color: #e7d8c3;    
    color: #fff;

    h4 {
        margin: 0;
        padding: 4%;
        background-color: #6a2931;
        text-align: center;
        color: #c6b7a2;
    }

    li {
        margin: 1% 4%;
        padding: 2%;
        color: #531b24;
    }
}

