* {
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f3efe6;
}

header {
    margin: 0;
    padding: 1%;
}

nav {
    background-color: #e7c7d4;
    margin: 0;
    text-align: center;
    padding: 5px;
}

nav a {
    margin: 1%;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: #9e8f92;
}

h1 {
    background-image: url('https://i.pinimg.com/1200x/fc/1f/7f/fc1f7f3d513511eb7a5ff29213b63124.jpg');
    background-position: center;
    padding: 1%;
    text-align: center;
    margin: 0;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    color: #f3efe6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container {
    display: flex;
    justify-content: space-around;
    padding: 1%;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 30%;
    border: 1px solid;
}

#column1 {
    float: left;
    width: 25%;
    border: 1px solid;
}

#column2 {
    float: left;
    width: 45%;
    border: 1px solid;
}

#column3 {
    float: left;
    width: 25%;
    border: 1px solid;
}

#todo {
    border: 1px solid black;
    margin: 2%;
}

#mininav {
    border: 1px solid black;
    margin: 2%;
}

#timetable {
    border: 1px solid black;
    margin: 1%;
}

#notes {
    border: 1px solid black;
    margin: 1%;
}

#calendar {
    border: 1px solid black;
    margin: 2%;
}

#courses {
    border: 1px solid black;
    margin: 2%;
}

