div {
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  margin: 25px;
  border: 4px solid black;
  line-height: 100px;
  text-align: center;
  width: 200px;
  height: 200px;
  }
  
body {
  margin: 100px auto;
  width: max-content;
}

#div1 {
  border: 5px solid #9354d1;
  box-shadow: 10px 10px 10px red;
}

#div2 {
  border: 5px solid #1ddc1e;
  box-shadow: inset 10px 10px 10px black;
}

#div3 {
  border-radius: 20px;
  border: 5px solid #f68c16; 
  outline: 10px solid #0001fd;
  box-shadow:
    0 0 0 17px hsl(359, 100%, 49%),
    0 0 0 25px hsl(120, 100%, 25%);
}

#div4 {
  border: 5px solid #a5252f;
  text-shadow: 10px 5px 1px black;
}