body {
    background-color: black;
    color: #fff;
    position: center;
    margin: 0;
    padding: 0;
}

#videocontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 0px;
}

h2 {
    line-height: 0px;
}

video { 
    margin: 10px;
}