* {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('https://images.hdqwalls.com/download/glinda-and-elphaba-in-wicked-movie-2024-g8-1920x1080.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 0;
    margin: 0;
}

header {
    color: #f8edd6;
    padding: 3%;
    text-decoration: none; /* Makes sure that there is no text-decoration especially for links with underlines */
    position: relative;
    margin: 0;
    padding: 2%;
    top: 0px;
    left: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.navheader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-decoration: none;
    margin-left: 50px;
    text-decoration: none; /* Removes the underlines from the links */
    display: inline-block; /* Displays all the elements in the same line */
}

.navheader1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-decoration: none;
    display: inline-block; /* Makes sure the elements are in the same line as the other elements in the header */
    padding: 0px; 
    margin: 0px;
    margin-left: 50px;
}

.navheader:hover {
    color: #3f552c;
}

.chosennav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-decoration: underline 7px #3f552c;
    margin-left: 50px;
    display: inline-block;
    color: white;
    font-weight: bold;
}

#links {
    display: inline;
    float: right;
    margin-right: 50px;
    font-weight: 500;
}

#pagename {
    margin-right: 10px;
}

#maindiv {
    width: 90%;
    height: 70%;
    z-index: 0;
    padding: 40px;
    left: 5%;
    bottom: 5%;
    position: fixed;
    background-color: rgba(22, 29, 16, 0.9);
    text-align: justify;
}

#maincontent {
    text-align: justify;
    text-shadow: 1px 1px 2px black;
    z-index: 10;
    margin: 3% 3% 5% 33%;
}

#poster {
    position: absolute;
    z-index: 10;
    bottom: 10%;
    left: 5%;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
}

#title {
    margin-right: 10px;
    line-height: 20px;
    font-size: 50px;
    font-family: 'Perfectly Vintage';
    letter-spacing: 1px;
    font-weight: normal;
}

#details {
    margin-right: 10px;
    line-height: 20px;
}

.imdb {
    height: 23px;
    width: 50px;
    vertical-align: text-top;
    margin-left: 10px;
    margin-right: 10px;
}

#star {
    color: orange;
    font-size: 20px;
}

#link {
    color: #558055;
}

#link:hover {
    text-decoration: underline;
}

.trailer {
    background: linear-gradient(to right, #5b6013 0%, #3f552c 100%);
    color: #fff;
    border-radius: 20px;
    border: black;
    font-size: larger;
    padding: 7px 20px 7px;
    margin-right: 20px;
    font-weight: normal;
    font-family: 'Perfectly Vintage';
    letter-spacing: 1px;
}

.trailer:hover {
    background: linear-gradient(to right, #f0c9db 0%, #dd8588 100%);
}
