/* Create a HTML & CSS quick-reference guide that covers all of the tags we've covered so far (and a few extras) with a
description of how to use them and code examples.

Use an external stylesheet.
Be creative with your styling, but keep it professional.
Use the <code> and <pre> HTML tags to include code examples.
Include a minimum of 10 HTML tags.
Include a minimum of 8 CSS properties.
Include a variety of different headers.
Make sure the code is indented and spaced properly. */

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('https://i.pinimg.com/1200x/7e/38/95/7e38952faa3c2f94bc41d24cf1d2b85e.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(129, 157, 119);
    top: -8px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d6ccc2;
    color: #244c43;
    text-decoration: none; /* Makes sure that there is no text-decoration especially for links with underlines */
    position: relative;
    margin: 0;
    padding: 2%;
    top: 0px;
    left: 0;
    width: 100%;
    display: inline-block; /* Displays the elements in the header in the same line and not in another line */
}

#headername {
    display: inline-block; /* Makes sure the elements are in the same line as the other elements in the header */
    font-size: 25px; 
    font-family: monospace;
    padding: 0px; 
    margin: 0px;
    color: #244c43;
    margin-right: 50px;
}

.navheader {
    font-size: 18px;
    color: #244c43;
    font-family: monospace;
    text-decoration: none; /* Removes the underlines from the links */
    display: inline-block; /* Displays all the elements in the same line */
    margin-right: 20px;
}

.navheader:hover {
    color: antiquewhite;
}

#searchbar {
    font-size: 14px;
    padding: 10px;
    height: 30px;
    width: 250px;
    border-radius: 10px; /* Rounds the corners of the search bar input area */
}

#form {
    float: right;
    padding: 0px; 
    margin: 0px;
    display: inline;
}

#maintitle {
    font-size: 50px; 
    font-family: monospace;
    padding: 0px; 
    margin-top: 15%;
    margin-bottom: 20%;
    color: #3c6c4f;
    text-align: center;
    text-shadow: 10px 4px 4px #cccbcb;
}

#maintitle b {
    font-family: monospace;
}

.title {
    color: #244c43;
    text-align: center;
}

.divstyle {
    border: 20px solid #a29b94;
    background-color: #d6ccc2;
    margin: 2% 15% 2% 15%;
    padding: 10px;
}

.table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    padding: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #f3efe4;
    color: #244c43;
}

article {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    color: #244c43;
}

code {
    font-family: monospace;
}

th {
    background-color: #a29b94;
    text-align: left;
    padding: 15px;
    border: 1px solid #cccbcb;
}

code {
    font-size: 14px;
}

td {
    font-size: 15px;
    text-align: left;
    padding: 15px;
    border: 1px solid #cccbcb;
}

#syntax {
    width: 40%;
}

#top {
    float: right;
    font-family: monospace;
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: #244c43;
    color: #ddd;
    text-decoration: none;
    border-radius: 50px;
    padding: 15px;
}

#top:hover {
    color: #244c43;
    background-color: #d6ccc2;
}

footer {
    background-color: #d6ccc2;
    padding: 1%;
    flex: 1; 
    width: 100%;
    display: inline-block; /* Displays the elements in the footer in the same line and not in another line */
}

/* Sets the style for the navigation links in the footer */
.navfooter {
    float: left;
    font-size: 18px;
    font-family: monospace;
    color: #244c43;
    text-decoration: none;
    margin-right: 20px;
}

/* Changes the color of the text 'Facebook' when it is hovered */
#fb:hover {
    color: rgb(5, 97, 163);
}

/* Changes the color of the text 'Instagram' when it is hovered */
#gh:hover {
    color: #3c6c4f;
}


/* Changes the color of the text 'Twitter' when it is hovered */
#linked:hover {
    color: #166fb3;
}

/* Sets the style of the trademark in the footer */
#tm {
    text-align: right;
    font-family: monospace;
    font-size: 18px;
    color: #244c43;
    text-decoration: none;
    margin-right: 20px;
}